{% extends "base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>

<h3>All Users</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
</table>

<h3>All Books</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>User ID</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for b in books %}
    <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.title }}</td>
        <td>{{ b.user_id }}</td>
        <td>{{ b.genre }}</td>
        <td>{{ b.status }}</td>
        <td>
            <a href="/admin_edit_book/{{ b.id }}">Edit</a> |
            <a href="/admin_delete_book/{{ b.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
