{% extends "base.html" %}
{% block content %}
<h2>Manage Users</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p style="color: red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Books</th>
        <th>Actions</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
        <td>{{ u.book_count }}</td>
        <td>
            <a href="/admin_edit_user/{{ u.id }}">Edit</a> |

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}