{% extends "base.html" %}
{% block content %}
<h2>Your Books</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.status }}</td>
        <td>
            <a href="/edit_book/{{ book.id }}">Edit</a> |
            <a href="/delete_book/{{ book.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
